@font-face {
    font-family: 'Poppins-ExtraLight';
    font-style: normal;
    font-weight: 200;
    src: url(fonts/Poppins-ExtraLight.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url(fonts/Poppins-SemiBold.ttf) format(truetype);
}

:root {
    /* color */
    --clr-red : hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue : hsl(212, 86%, 64%);
    --clr-grey-dark: hsl(234, 12%, 34%);
    --clr-grey : hsl(212, 6%, 44%);
    --clr-grey-light: hsl(0, 0%, 98%);;
    --clr-gray-text : hsl(229, 6%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-bg : var(--clr-grey-light);
    --clr-card : var(--clr-white);
    --clr-card-title: var(--clr-grey-dark);
    --clr-card-text:  var(--clr-gray-text);


    /* typography */
    --ff-poppins-extral : 'Poppins-ExtraLight';
    --ff-poppins-reg: 'Poppins-Regular';
    --ff-poppins-bold: 'Poppins-SemiBold';
    --fs-h2: 1.25rem;
    --fs-p: 1.2308rem;

    /* spacing */
    --min-padding: 0.875rem;
    --med-padding: 2rem;
    --max-padding: 2.25rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px default browser */
  -webkit-text-size-adjust: 100%; /* cegah font auto resize di iOS */
}


body {
    /* padding: 3.125rem; */
    background-color: var(--clr-bg);   
}

.main {
    padding: 5rem 2rem 3rem 2rem;
}

/* HEADER */

.header {
    text-align: center;
    max-width: 33.75rem;
    margin: 0 auto 5rem auto;
}

.header h2{
    font-family: var(--ff-poppins-extral);
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    color: var(--clr-card-title);
    font-weight: 200;
}

.header h1{
    font-family: var(--ff-poppins-bold);
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: var(--clr-card-title);
}

.header p{
    font-family: var(--ff-poppins-reg);
    font-size: 0.9375rem;
    color: var(--clr-card-text);
}

.container {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four';
}

/* CARD */

.card {
    width: 100%;
    padding: var(--med-padding);
    border-radius: 0.5rem;
    background-color: var(--clr-card);
    box-shadow: 0 0.3125rem 0.9375rem rgba(20, 120, 180, 0.2);
}

.picture {
    display: flex;
    flex-direction: row-reverse;
}

img {
    max-width: 100%;
}

.card h1 {
    color: var(--clr-card-title);
    font-family: var(--ff-poppins-bold);
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card p {
    color: var(--clr-card-text);
    font-family: var(--ff-poppins-reg);
    font-size: 0.8125rem;
    margin-bottom: 1.75rem;
}

.card-1 {
    border-top: 0.25rem solid var(--clr-cyan);
    grid-area: one;
}

.card-2 {
    border-top: 0.25rem solid var(--clr-red);
    grid-area: two;
}

.card-3 {
    border-top: 0.25rem solid var(--clr-orange);
    grid-area: three;
}

.card-4 {
    border-top: 0.25rem solid var(--clr-blue);
    grid-area: four;
}

@media (min-width: 48rem) {
    .header {
        margin-bottom: 0 auto 4.0625rem auto;
    }

    .header h1,
    .header h2 {
        font-size: 1.9575rem;
    }

    .container {
        margin: 0 auto 0 auto;
        gap: 1.75rem;
        max-width: 69.375rem;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        'one two three'
        'four two five'
        'four six five'
        'seven six eight';
    }

    .card-1 {
        grid-area: four;
    }
    
    .card-2 {
        grid-area: two;
    }

    .card-3 {
        grid-area: six;
    }

    .card-4 {
        grid-area: five;
    }
}

/* .attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */